$breakpoint-width: 30em;

#hero {
    background:url(http://mrmrs.github.io/photos/u/009.jpg) no-repeat center;
    background-size: cover;
}

.clear {
    clear: both;
}

.pointer {cursor: pointer;}

.hamburger {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

#hamburgermenu {
    display: none;
}

.display-none {
    display: none;
}

.display-on-small {
    display: none;
}

@media screen and (max-width: $breakpoint-width) {
    #navmenu {
        display: none;
    }
    #hamburgermenu {
        display: inherit;
        cursor: pointer;
    }

    .display-on-small {
        display: inherit;
    }
}