<section id="{{id}}" class="{{classesSection}}">
<div class="center f3 measure-wide  pv5 lh-copy ph2 black {{classesDiv}}">
    <h2 class="f1 lh-title">{{title}}</h2>
    {{> @partial-block }}
</div
</section>